@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0;
  padding: 0;
  border: none;
}
.my-5-container{
  background-color:white; 
  height: auto;
}

.post-title-block {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.post-img {
  width: 10%;
}
.date-title {
  width: 85%;
  text-transform: capitalize;
  font-size: medium;
}

.post-title {
  text-transform: capitalize;
}
.author{
	padding: 30px;
  height: auto;
  width: 20%;
  background-color:#eaf6ff;
}
.header{
  margin-right: 25px;
  margin-top: 12px;
  margin-bottom: 18px;
	border-radius: 3px;
	padding: 70px;
  background-color:#eaf6ff;
  

}
.subscription_area{
	float: right;
	
}
.buttons{
	margin-bottom: 80px;
	margin-left: 3px;
	padding-bottom:50px;
}





.mark-name{
	font-family: serif;
	font-size: 45px;
	margin:20px;
  text-align: center;

}
.post-title{
		text-align: center;
		margin :30px;
		color:black;
		font-family: serif;
}
.post{
	font-size: 20px;
	font-family: sans-serif;
}
.first_p{
	font-size: 20px;
	font-family: serif;
	color :  black; 
	padding: 10px;
}

.social-icon{
	float:middle;
	padding: 20px;
}
.lead{
	color: red;
}
.list1{
  margin-top: 60px;
  color:black;
  list-style: none;
  text-align: center;
}

.list, li{
  margin-top: 30px;
}


.side-content{
  padding:30px;
}

.blog-posts{
  margin: 40px 30px !important;
}

.author-bio{
  text-align: center;
}