body {

}
.my-5-container{
	background-color:rgb(216,218,190); 
}

.post-title-block {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.post-img {
  width: 10%;
}
.date-title {
  width: 85%;
}

.post-title {
  text-transform: capitalize;
}
.col-md-3{
	border: 1px solid black;
    height: 800px;
    background-color:rgb(121,149,117) ;
}
.header{
	margin-right: 25px;
	border-radius: 25px;
	border: 2px solid black;
	padding: 40px;
	background-color:rgb(216,218,190);

}
.subscription_area{
	float: right;
	
}
.buttons{
	margin-bottom: 80px;
	margin-left: 39px;
	padding-bottom:50px;
}

.button1 {
	border-radius: 13px;
	cursor:pointer;
	
}
.button2 {
	border-radius: 12px;
	cursor:pointer;
	
}

.mark-name{
	font-family: serif;
	font-size: 45px;
	margin:20px;


}
.post-title{
		text-align: middle;
		margin :30px;
		color:black;
		font-family: serif;
}
.post{
	font-size: 20px;
	font-family: sans-serif;
}
.first_p{
	font-size: 20px;
	font-family: serif;
	color :  black; 
	padding: 10px;
}
.button3{

    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin:  1px;
    border-radius: 6px;
    cursor:pointer;


}
.social-icon{
	float:middle;
	padding: 20px;
}
.lead{
	color: red;
}
.list1{
	padding-top: 10px;
	color:rgb(0,0,139);
}